* {
    user-select: none;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #111112;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

canvas {
    position: fixed;
    left: 0;
    top: 0;
}